@model ChimberdTemplate.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="site-blocks-cover overlay" style="background-image: url(/Public/images/@Model.Slider.FirstOrDefault().Photo);" data-aos="fade"
    data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center justify-content-center text-center">
        <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">
          <div class="row justify-content-center mb-4">
            <div class="col-md-8 text-center">
                <h1>@Model.Slider.FirstOrDefault().Title <span class="typed-words"></span></h1>
                <p class="lead mb-5">@Model.Slider.FirstOrDefault().Text</p>
              <div><a href="#" class="btn btn-primary btn-md">@Model.Words.FirstOrDefault(w=>w.Keyword == "HIRE US").Value</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="section ft-feature-1">
    <div class="container">
      <div class="row align-items-stretch">
        <div class="col-12 bg-black w-100 ft-feature-1-content">
          <div class="row align-items-center">
            <div class="col-lg-5">
              <div class="h-100">
                <div class="mb-5 d-flex align-items-center">
                  <div>
                    <a href="https://vimeo.com/317571768" class="popup-vimeo d-block play"><span
                        class="icon-play"></span></a>
                  </div>
                  <h2>Welcome To Chimper An Awward Winning Web Agency</h2>
                </div>
                <img src="~/Public/images/about_1.jpg" alt="Image" class="img-feature img-fluid">
              </div>
            </div>

            <div class="col-lg-3 ml-auto">
              <div class="mb-5">
                <h3 class="d-flex align-items-center"><span class="icon icon-phonelink mr-2"></span><span>Web
                    Design</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab nihil quam nesciunt.</p>
                <p><a href="#">@Model.Words.FirstOrDefault(w => w.Keyword == "Read More").Value</a></p>
              </div>
              <div>
                <h3 class="d-flex align-items-center"><span class="icon icon-extension mr-2"></span><span>Branding &amp;
                    Identity</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab nihil quam nesciunt.</p>
                <p><a href="#">@Model.Words.FirstOrDefault(w => w.Keyword == "Read More").Value</a></p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="mb-5">
                <h3 class="d-flex align-items-center"><span class="icon icon-format_paint mr-2"></span><span>Art
                    Direction</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab nihil quam nesciunt.</p>
                <p><a href="#">@Model.Words.FirstOrDefault(w => w.Keyword == "Read More").Value</a></p>
              </div>
              <div>
                <h3 class="d-flex align-items-center"><span
                    class="icon icon-question_answer mr-2"></span><span>Copywriting</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab nihil quam nesciunt.</p>
                <p><a href="#">@Model.Words.FirstOrDefault(w => w.Keyword == "Read More").Value</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="site-section">
    <div class="container">
      <div class="row">

      @foreach (var item in Model.Aboutus)
      {
          
        <div class="col-md-6 col-lg-4">
          <div class="p-3 box-with-humber">
            <div class="number-behind">01.</div>
            <h2>@item.Title</h2>
            <p>@item.Text</p>
          </div>
        </div>
      }
       
      </div>
    </div>
  </section>
  <section class="site-section">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-8 text-center">
          <h2 class="text-black h1 site-section-heading text-center">Featured Projects</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, itaque neque, delectus odio
            iure explicabo.</p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
        <div class="row">

            @foreach (var item in Model.Project.Take(3))
            {
                <div class="col-md-6 col-lg-4">
                    <a href="#" class="media-1">
                        <img src="~/Public/images/@item.Photo" alt="Image" class="img-fluid">
                        <div class="media-1-content">
                            <h2>@item.Title</h2>
                            <span class="category">@item.Text</span>
                        </div>
                    </a>
                </div>
            }
          
            <div class="col-12 text-center mt-5">
                <a href="work.html" class="btn btn-primary btn-md">@Model.Words.FirstOrDefault(w => w.Keyword == "Show All Works").Value</a>
            </div>
        </div>
    </div>
  </section>
  <section class="site-section testimonial-wrap">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <h2 class="text-black h1 site-section-heading text-center">Testimonials</h2>
        </div>
      </div>
    </div>
    <div class="slide-one-item home-slider owl-carousel">

        @foreach (var item in Model.Testimonial)
        {
            <div>
                <div class="testimonial">
                    <blockquote class="mb-5">
                        <p>
                            &ldquo;@item.Text.&rdquo;
                        </p>
                    </blockquote>
                    <figure class="mb-4 d-flex align-items-center justify-content-center">
                        <div><img src="~/Public/images/@item.Photo" alt="Image" class="w-50 img-fluid mb-3"></div>
                        <p>@item.Name</p>
                    </figure>
                </div>
            </div>
        }
       
    </div>
  </section>
  <section class="site-section bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <h2 class="text-black h1 site-section-heading text-center">Blog</h2>
        </div>
      </div>
      <div class="row">
          @foreach (var item in Model.Blog.OrderByDescending(b=>b.Date).Take(3))
          {

              <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                  <div class="h-entry">
                      <img src="~/Public/images/@item.BlogImg" alt="Image" class="img-fluid">
                      <h2 class="font-size-regular"><a href="#">Create Beautiful Website In Less Than An Hour</a></h2>
                      <div class="meta mb-4">
                         @item.Name <span class="mx-2">&bullet;</span>@item.Date.ToString("MMM-dd")<span class="mx-2">&bullet;</span> <a href="#">News</a>
                      </div>
                      <p>
                          @item.Text
                      </p>
                      <p><a href="#"> @Model.Words.FirstOrDefault(w => w.Keyword == "Continue Reading").Value ...</a></p>
                  </div>
              </div>
          }
         
      </div>
    </div>
  </section>
  <a href="#" class="bg-primary py-5 d-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md10">
          <h2 class="text-white">Hire Us &amp; Let's Get Started</h2>
        </div>
      </div>
    </div>
  </a>